@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

#slidingPuzzleWrap{
  max-width: 500px;
  margin: 0 auto;
  outline: 1px solid #dedede;
}
#slidingPuzzleWrap > .puzzleRowWrap:nth-child(2){
  padding-top: 4px;
}
#slidingPuzzleWrap > .puzzleRowWrap:last-child{
  padding-bottom: 4px;
}

.puzzleRowWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ececec
}

.tile {
  flex-grow: 1;
  display: flex;
  margin: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  outline: 1px solid #adadad;
  border-radius: 4px;
  cursor: pointer;
}
.tile::after{
  content:"";
  display:block;
  padding-bottom: 100%;
}
.tile > span {
  position: absolute;
  font-size: 2em;
  color:#99ccff;;
}
.tile-hide{
  visibility: hidden;
}